.calendar {
    height: 450px;
    width: 100%;
    color: black;
    margin: 0;
    display: block;
}

div.react-calendar {
    height: 100%;
    width: 800px;
    padding: 2em;
    display: inline-block;
    margin: 8em 8em;
}

div.react-calendar button {
    font-size: 20px;
}

div.react-calendar
abbr[title],
acronym[title] {
    text-decoration: none;
    font-size: 20px;
}

.schedule {
    height: 610px;
    width: 420px;
    background: white;
    float: right;
    margin: 20px;
    border-radius: 5px;
    padding: 20px;
}

.scsubfont {
    color: black;
    font-size: 25px;
}