.infowhitebox {
    height: 30%;
    width: 80%;
    background: white;
    border-radius: 1em;
    margin: 0 10%
}

.infowhitelongbox {
    height: 80em;
    width: 80%;
    background: white;
    border-radius: 1em;
    margin: 0 10%
}

.infoblockimage {
    vertical-align: middle;
    float: left;
    height: 20em;
    width: auto;
    margin: 5em 2em;
}

.infomainfont {
    color: black;
    font-size: 24px;
    font-weight: bolder;
    margin: 0;
    text-align: left;
}

.infosubfont {
    text-align: left;
    margin: 2em;
    color: black;
    font-size: 15px;
    margin: 0 0 1em 0;
}

.transbox {
    height: 10%;
    width: 100%;
}

.explain {
    height: 24em;
    width: 55%;
    float: left;
    margin: 3em;
}

.goButton {
    border-radius: 2em;
    border-color: white;
}